# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
Pods
NAStify/private.h
external/MediaLibraryKit
external/VLCKit
external/curl/curl-*
external/curl/lib
external/libRaw/LibRaw-*
external/libRaw/lib
external/libidn/libidn-*
external/libidn/lib
external/libssh2/libssh2-*
external/libssh2/lib
external/neon/neon-*
external/neon/lib
external/openssl/openssl-*
external/openssl/bin
external/openssl/lib
