<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.powerpoint.ppt</string>
				<string>com.microsoft.word.doc</string>
				<string>com.microsoft.excel.xls</string>
				<string>com.adobe.pdf</string>
				<string>com.adobe.postscript</string>
				<string>com.adobe.encapsulated-​postscript</string>
				<string>com.apple.keynote.key</string>
				<string>public.plain-text</string>
				<string>public.utf8-plain-text</string>
				<string>public.utf16-plain-text</string>
				<string>public.utf16-external-plain-​text</string>
				<string>com.apple.traditional-mac-​plain-text</string>
				<string>public.rtf</string>
				<string>public.html</string>
				<string>public.xml</string>
				<string>public.c-source</string>
				<string>public.objective-c-source</string>
				<string>public.c-plus-plus-source</string>
				<string>public.objective-c-plus-​plus-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-header</string>
				<string>com.sun.java-source</string>
				<string>public.assembly-source</string>
				<string>com.apple.rez-source</string>
				<string>public.mig-source</string>
				<string>com.apple.symbol-export</string>
				<string>com.netscape.javascript-​source</string>
				<string>public.shell-script</string>
				<string>public.csh-script</string>
				<string>public.perl-script</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.php-script</string>
				<string>com.sun.java-web-start</string>
				<string>com.apple.applescript.text</string>
				<string>com.apple.applescript.​script</string>
				<string>public.object-code</string>
				<string>com.microsoft.windows-​executable</string>
				<string>com.microsoft.windows-​dynamic-link-library</string>
				<string>com.sun.java-class</string>
				<string>com.sun.java-archive</string>
				<string>com.apple.quartz-​composer-composition</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Picture file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
				<string>public.tiff</string>
				<string>public.png</string>
				<string>com.compuserve.gif </string>
				<string>com.adobe.photoshop-​image</string>
				<string>com.adobe.illustrator.ai-​image</string>
				<string>com.microsoft.bmp</string>
				<string>com.microsoft.ico</string>
				<string>com.truevision.tga-image</string>
				<string>com.sgi.sgi-image</string>
				<string>com.ilm.openexr-image</string>
				<string>com.kodak.flashpix.image</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>archive document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-zip-tar-archive</string>
				<string>com.pkware.zip-archive</string>
				<string>com.allume.stuffit-archive</string>
				<string>org.gnu.gnu-tar-archive</string>
				<string>public.tar-archive</string>
				<string>public.data</string>
				<string>org.gnu.gnu-zip-archive</string>
				<string>com.apple.binhex-archive</string>
				<string>com.apple.macbinary-​archive</string>
				<string>public.vcard</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-disnhsr6u900lch</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3.0.1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>1510d850f9ccd40c43a336e0a04436c3bf37fd0d</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden~ipad</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
